<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
    <h1>Contato</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about">Sobre</a>
        <a href="/contact">Contato</a>
    </nav>
</header>

<section>
    <h2>Informações de contato</h2>
    <p>Email: inatel@inatel.br</p>
    <p>Telefone: (35) 99999-9999</p>
    <p>Endereço: Santa Rita do Sapucaí - MG</p>
</section>
</body>
</html>